*{
    text-align: center;
}
header{
    height: 20vh;
    width : calc(1024px*0.8);
    display: flex;
    margin: 0 auto;
}
h1{
    height: 15vh;
    width: 15vh;
    margin: auto;
    background-image: url("../image/starbucks_logo.jpg");
    background-size: cover;
    background-position: center;
    text-indent: -9999em;
}
a{
    text-decoration-line: none;
    color: gray;
}
nav{
    text-align: center;
    background-position: center;
    display: flex;
    align-items: center;
}
li h2{
    background-color: antiquewhite;
    padding: 7px 30px;
    margin: 5px;
}
nav li{
    background-position: center;
    text-align: justify;
    display: inline-block;

    font-size: small;
}
main{
    width : calc((1024px/100)*80);
    height: 60%;
    margin: 0 auto;
    display: inline-block;
}
.section_article{
    display: block;
    width: 400px;
    height: 300px;
}
section, article{
    margin-left: -100px;
    width: 30%;
}
section{
    background-color: grey;
    background-position: center;
    padding: 50px;
}
article{
    background-color:darkgreen;
    padding: 50px;
}
aside{
    background-color:peru ;
    padding: 50px 0;
}
footer{
    width : calc(1024px*0.8);
    margin: 0 auto;
    text-align: center;
    background-color: navajowhite;
}
h3{
    width: calc(1024px*0.8);
}