*{
    text-align: center;
}
header{
    height: 20vh;
    width : calc(1024px*0.8);
    display: flex;
    margin: 0 auto;
}
h1{
    height: 15vh;
    width: 15vh;
    margin: auto;
    background-image: url("../image/starbucks_logo.jpg");
    background-size: cover;
    background-position: center;
    text-indent: -9999em;
}
a{
    text-decoration-line: none;
    color: gray;
}
nav{
    text-align: center;
    background-position: center;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
li h2{
    background-color: antiquewhite;
    padding: 7px 30px;
    margin: 5px;
}
nav li{
    background-position: center;
    text-align: justify;
    display: inline-block;
    font-size: small;
}
main{
    width : calc((1024px/100)*80);
    height: 60vh;
    margin: 0 auto;
    text-align: center;
    display: flex;
}
h2{
    margin: 0;
}
#section_article{
    display: inline-block;
    width: 70%;
}
section{
    background-color: grey;
    line-height: calc(60vh*0.6);
}
article{
    background-color:darkgreen;
    line-height: calc(60vh*0.4);    
}
aside{
    width: 30%;
    display: inline-block;
    background-color:peru ;
    line-height: 60vh;
    vertical-align: top;
}
footer{
    height: 20vh;
    width : calc(1024px*0.8);
    margin: 0 auto;
    text-align: center;
    background-color: navajowhite;
    line-height: 20vh;
}
h3{
    width: calc(1024px*0.8);
    margin: 0;
}